.pixelated {
  image-rendering: pixelated;
}

.flip-h {
  transform: scaleX(-1);
}

.button {
  transition: filter 0.4s
}

.button:hover {
  filter: brightness(200%);
}

.button:active {
  filter: brightness(150%);
}

.menuItem {
  transition: background-color 0.6s, filter 0.4s
}

.menuItem:active {
  filter: brightness(50%);
}

.disabled {
  opacity: 50%;
}

.backdrop {
  transition: opacity 0.5s;
}

.navigation {
  transition: margin-left 0.8s
}

.background-darksea {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/theme/darksea/background.png");
}

.background-seaofgreen {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/theme/seaofgreen/background.png");
}

