.disable-select {
  user-select: none;
}

.pixelated {
  image-rendering: pixelated;
}

.flip-h {
  transform: scaleX(-1);
}

.button {
  cursor: pointer;
  transition: filter 0.4s
}

.button:hover {
  filter: brightness(120%);
}

.button:active {
  filter: brightness(80%);
}

.buttonClosed {
  cursor: pointer;
  transition: filter 0.4s
}

.buttonClosed:hover {
  filter: brightness(80%);
}

.buttonClosed:active {
  filter: brightness(60%);
}

.menuItem {
  transition: background-color 0.6s, filter 0.4s
}

.menuItem:active {
  filter: brightness(50%);
}

.disabled {
  opacity: 50%;
}

.backdrop {
  transition: opacity 0.5s;
}

.navigation {
  transition: margin-left 0.8s
}

/* Dark Sea Theme */


.darkSea-background {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/theme/darksea/background.png");
}


.darkSea-Tooltip
.MuiTooltip-tooltip {
  background-color: #081021;
}

.darkSea-Tooltip
.MuiTooltip-arrow {
  color: #081021;
}


.darkSea-keyInTip
.MuiTooltip-tooltip {
  background-color: #081021;
  font-size: 1.125rem;
}

.darkSea-keyInTip
.MuiTooltip-arrow {
  color: #081021;
}


.darkSea-Slider
.MuiSlider-thumb {
  background-color: #1d468a;
}

.darkSea-Slider
.MuiSlider-rail {
  opacity: 1;
  background-color: #142c55;
}

.darkSea-Slider
.MuiSlider-track {
  border-color: transparent;
  background-color: #1d468a;
}


.darkSea-Switch
.MuiSwitch-thumb {
  background-color: #1d468a;
}

.darkSea-Switch
.MuiSwitch-track {
  opacity: 1;
  background-color: #1d468a;
}

.darkSea-Switch-disabled
.MuiSwitch-thumb {
  background-color: #1d468a;
}

.darkSea-Switch-disabled
.MuiSwitch-track {
  opacity: 1;
  background-color: #081021; 
}
