.pixelated {
  image-rendering: pixelated;
}

.flip-h {
  transform: scaleX(-1);
}

.button {
  cursor: pointer;
  transition: filter 0.4s
}

.button:hover {
  filter: brightness(120%);
}

.button:active {
  filter: brightness(80%);
}

.buttonClosed {
  cursor: pointer;
  transition: filter 0.4s
}

.buttonClosed:hover {
  filter: brightness(80%);
}

.buttonClosed:active {
  filter: brightness(60%);
}

.menuItem {
  transition: background-color 0.6s, filter 0.4s
}

.menuItem:active {
  filter: brightness(50%);
}

.disabled {
  opacity: 50%;
}

.backdrop {
  transition: opacity 0.5s;
}

.navigation {
  transition: margin-left 0.8s
}

.mui-darksea .MuiTooltip-tooltip {
  background-color: #111a28;
}

.mui-darksea .MuiTooltip-arrow {
  color: #111a28;
}

.background-darksea {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/theme/darksea/background.png");
}

.background-seaofgreen {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/theme/seaofgreen/background.png");
}

